<div class="container marketing">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Introducciónn</h2>
      <p class="lead" style="text-align: justify">Cada cuatro años en Ecuador se realizan las elecciones presidenciales, por lo que se postulan varios candidatos que representan a distintos partidos políticos, en donde cada uno de los candidatos plantean una serie de propuestas políticas, por consecuencia
        esto genera en los votantes cierta aceptación o rechazo hacia dicho candidato. En el presente se utiliza la tecnología, especialmente las redes sociales como instrumento de promoción de campañas políticas, lo que permite que las personas puedan
        tener en consideración las diferentes propuestas que cada candidato ofrece. La forma de hacer política cambió desde la era digital. Pero lo importante es reconocer que hoy en día también está cambiando debido al uso de las redes sociales. Si antes
        lo único que se hacía era crear anuncios en medios digitales, ahora, se crean campañas que tienen como pieza clave las redes sociales. (Antevenio, 2019) Los partidos políticos hacen vídeos en directo, publican streamings en sus cuentas de redes
        sociales o incluso, responden comentarios de ciudadanos en Twitter. Lo que les funciona ahora para los candidatos políticos es gestionar una buena estrategia de social media. (Antevenio, 2019) Cualquier candidato político, ya sea local, estatal
        o nacional, puede aprovechar al máximo la estrategia social de su campaña y desarrollar increíbles campañas digitales de marketing político. Las campañas políticas son esencialmente plataformas de marca. La eficacia con la que sus acciones resuenan
        y el cuidado con el que sostienen la imagen que desean proyectar es la clave de su campaña. (Antevenio, 2019) Con base a esta información podemos proponer que los candidatos políticos cuenten con herramientas que permitan realizar el análisis
        de sus campañas digitales en referencia de las redes sociales de Facebook y Twitter, así teniendo conocimiento de como los usuarios de estas redes sociales difieren en sus propuestas y obteniendo una presunta aceptación.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto"  style="width: 400px; height: 350px;"src="./assets/img/Topico.jpg">
    </div>
  </div>
  <hr class="featurette-divider">
</div>
