
<div class="container marketing">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Finalidad</h2>
      <p class="lead" style="text-align: justify">Debido al incremento del uso de las redes sociales en Ecuador,
        los candidatos políticos promocionan sus campañas en las redes sociales, ya que  de esta manera pueden interactuar con
        las personas de una manera mas fácil. Gracias ha estas redes sociales, las personas pueden interactuar , visualizar o
        buscar diferentes novedades o tendencias políticas de manera mas rápida, y dar su opinión de lo que piensan acerca de
        cada candidato y su campaña política. Lo que no se puede saber es la aceptación o rechazo que se tiene hacia un candidato
        político. Para ello nuestro proyecto se enfoca en detectar estas supuestas tendencias políticas, realizando un análisis de
        la información posteada por las diferentes cuentas de los usuarios de la redes sociales mediante el procesamiento de lenguaje
        natural. Una vez realizado dicho procesamiento, nuestra finalidad es desarrollar una aplicación web donde se presente la
        visualización de datos ,para ver la aceptación de cada candidato con su respectiva campaña política.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto"  style="width: 400px; height: 350px;"src="./assets/img/finalidad">
    </div>
  </div>
  <hr class="featurette-divider">
</div>
