<br>
<div class="container">
  <legend class="text-center header">EXTRACCION DE DATOS</legend>
  <hr class="featurette-divider">
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/ingreso.png" style="width:300px " class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="featurette-heading">Ingreso nombre de candidato</h5>
          <p class="lead"  style="text-align:justify">Ingresamos el nombre del candidato y damos clic en el botón extraer.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/extraccion.png" style="width:300px " class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="featurette-heading">Extraccion de Datos</h5>
          <p class="lead"  style="text-align:justify">La aplicación extraerá automáticamente los comentarios de las redes sociales.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/exito.png" style="width:260px " class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="featurette-heading">Extraccion Exitosa</h5>
          <p class="lead"  style="text-align:justify">La aplicación mostrara un mensaje diciendo que la extracción fue exitosa.</p>
        </div>
      </div>
    </div>
  </div>
  <legend class="text-center header">EXTRACCION DE TOPICOS</legend>
  <hr class="featurette-divider">
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/ingreso.png" style="width:300px " class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="featurette-heading">Ingreso nombre de candidato para el analisis</h5>
          <p class="lead"  style="text-align:justify">Ingresamos el nombre del candidato y damos clic en el botón analizar </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/comentarios.png" style="width:300px " class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="featurette-heading">Extraccion de comentarios para el analisis</h5>
          <p class="lead"  style="text-align:justify">La aplicación extraerá automáticamente los comentarios almacenados del candidato.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/topicos.png" style="width:300px " class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="featurette-heading">Clasificacion por topicos</h5>
          <p class="lead"  style="text-align:justify">La aplicación clasificara por tópicos los comentarios y los analizara para determinar su finalidad.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/grafico.png" style="width:300px " class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="featurette-heading">Grafico de clasificacion de topicos</h5>
          <p class="lead"  style="text-align:justify">La aplicación abrirá una nueva ventana donde nos mostrará gráficos con los tópicos,
            la aceptación del candidato y una nube de palabras con los tópicos usados.</p>
        </div>
      </div>
    </div>
  </div>
</div>
