 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/img/politico1.png"  style="width: 700px; height: 700px;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/img/politico2.jpg"  style="width: 700px; height: 700px;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./assets/img/politico3.jpg"  style="width: 700px; height: 700px;" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
<br>
 <div class="container marketing">
   <!-- Three columns of text below the carousel -->
   <div class="row">
     <div class="col-lg-4">
       <img class="rounded-circle" src="./assets/img/Topico.jpg" alt="Generic placeholder image" width="140" height="140">
       <h2>Introduccion</h2>
       <p>Este apartado abarcara una pequeña introduccion de lo realizado en la aplicacion</p>
       <p> <a routerLink="/introduccion" class="btn btn-secondary" href="#" role="button">Ir »</a></p>
     </div><!-- /.col-lg-4 -->
     <div class="col-lg-4">
       <img class="rounded-circle" src="assets/img/finalidad" alt="Generic placeholder image" width="140" height="140">
       <h2>Finalidad</h2>
       <p>En este apartado se hablara de la finalidad en la cual nos hemos enfocado para la realizacion de la aplicacion </p>
       <p> <a routerLink="/finalidad" class="btn btn-secondary" href="#" role="button">Ir »</a></p>
     </div><!-- /.col-lg-4 -->
     <div class="col-lg-4">
       <img class="rounded-circle" src="./assets/img/tutorial.jpeg" alt="Generic placeholder image" width="140" height="140">
       <h2>Tutorial</h2>
       <p>Este apartado contiene un pequeño tutorial de la aplicacion</p>
       <p> <a routerLink="/tutorial" class="btn btn-secondary" href="#" role="button">Ir »</a></p>
     </div><!-- /.col-lg-4 -->
     <hr class="featurette-divider">
   </div><!-- /.row -->
   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading" >Influencia de Facebook en las campañas politicas</h2>
       <p class="lead"  style="text-align:justify" >Facebook se a impuesto como uno de los medios mas utilizados para la realización de campañas políticas,  la cual permite a los electores compartir contenido , comunicarse y crear diálogos entre los navegantes de esta plataforma.
         Esta red social es la mas utilizada en el mundo y con el tiempo se ha convertido en una herramienta importante en la comunicación
         política, pues supone un lugar de intercambio de información,  en donde cada vez mas usuarios forman su opinión política y se informan acerca de la actualidad. </p>
     </div>
     <div class="col-md-5">
       <img class="featurette-image img-fluid mx-auto"  style="width: 400px; height: 350px;" src="./assets/img/facebook.jpg">
     </div>
   </div>

   <hr class="featurette-divider">
   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading">Influencia de Twitter en las campañas politicas</h2>
       <p class="lead" style="text-align:justify" >Twitter es una red social que favorece la comunicación y el dialogo. Desde su nacimiento en le año 2006 ha tenido una
         una importancia creciente en el contexto político. Twitter se presenta como una herramienta con una gran funcionalidad tanto para los
         ciudadanos. que pueden exponer e intercambiar sus ideas y pensamientos, como para los políticos.  Esta red social, al igual que otras
         herramientas que ofrece Internet, permite eliminar las barreras establecidas hasta ahora para la comunicación política y fomentando un
         intercambio en la conversación y en el debate político.
       </p>
     </div>
     <div class="col-md-5">
       <img class="featurette-image img-fluid mx-auto"  style="width: 400px; height: 350px;" src="./assets/img/twitter.jpg">
     </div>
   </div>

   <hr class="featurette-divider">
   <div class="row featurette">
     <div class="col-md-7 order-md-2">
       <h2 class="featurette-heading">Topicos </h2>
       <p class="lead">Los tópicos son una serie de frases hechas que se emplean en al literatura y que unen
         diferentes relaciones semánticas para poder indicar una idea. Puede tener diferentes variaciones dependiendo
         del autor o el contexto que se empleen. Los tópicos han sido empleados en ámbitos filosóficos, sociales o políticos.  </p>
     </div>
     <div class="col-md-5 order-md-1">
       <img class="featurette-image img-fluid mx-auto"  style="width: 400px; height: 350px;"src="./assets/img/Topico.jpg">
   </div>
   </div>
   <hr class="featurette-divider">
 </div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
